[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"] }
sqlmodel = "*"
alembic = "*"
fastapi-jwt-auth = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
jose = "*"
pyjwt = "*"
pandas = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.12"
